.right img {
	float: right;
}
.page-header h1 {
	height: 80px;
	font-family:Impact;
	font-size: 40px;
}
.page-header {
	position: absolute;
}
.navibar {
		top: 70px;
}
.navibar ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
}
.navibar li {
			float: left;
}
.navibar li a {
			display: block;
			text-align: center;
			padding: 14px 16px;
			text-decoration: none;
}

.paragraph {
		width: 50%;
		float: left;
}
.content h1 {
			font-size: 30px;
}			