{% extends 'base.html' %}

{% block content %}
  <h1>Add Starling</h1>

  <p>Enter the Prep, Trap, and Depredation Method. Then, press the "Continue" button:</p>

  <form method="Death" class="death-form">{% csrf_token %}>
    {{ form.as_p }}
    <p>
      <ul>

          <li><label for="PREP">Prep: </label> 
          <select name="PREP" id="PREP">
                <option value="Whole Frozen" selected>Whole Frozen</option>
                <option value="">Other</option>
          </select>
          </li>
          <br>

          <li><label for="TRAP">Trap: </label> 
          <select name="TRAP" id="TRAP">
                <option value="V-Top" selected>V-Top</option>
                <option value="Fly-In-Trap">Fly-In-Trap</option>
                <option value="">Other</option>
          </select>
          </li>
          <br>

          <li><label for="DEPREDATION_METHOD">Depredation Method: </label>
          <select name="DEPREDATION_METHOD" id="DEPREDATION_METHOD">
                <option value="Cervical Dislocation" selected>Cervical Dislocation</option>
                <option value="CO2?">CO2</option>
                <option value="Starvation">Starvation</option>
                <option value="">Other</option>
          </select>
          </li>
          <br>
        
        &nbsp;
        <button type="submit" class="save btn btn-default">sumbit</button>
      </ul>
    </p>
  </form>
{% endblock %}
