{% extends 'base.html' %}

{% block content %}
  <h1>Add Starling</h1>

  <p>Enter the Beak Length, Beak Depth, Head length, Wing Length, Tail Length, Tarsus Length, and any Notes included. Then, press the "Continue" button:</p>

  <h4> <u> *NOTE* THIS IS FOR PRE-SKIN </u> </h4>

  <form>
    <p>
      <ul>

          <li><label for="Beak_Length_mm_pre_Skin">Beak Length (Millimeters): </label>
          <input type="text" name="Beak_Length_mm_pre_Skin" id="Beak_Length_mm_pre_Skin" value="" />
          </li>
          <br>

          <li><label for="Beak_Depth_mm_pre_Skin">Beak Depth (Millimeters): </label>
          <input type="text" name="Beak_Depth_mm_pre_Skin" id="Beak_Depth_mm_pre_Skin" value="" />
          </li>
          <br>

          <li><label for="Head_Length_mm_pre_Skin">Head Length (Millimeters): </label>
          <input type="text" name="Head_Length_mm_pre_Skin" id="Head_Length_mm_pre_Skin" value="" />
          </li>
          <br>

          <li><label for="Wing_Length_mm_pre_Skin">Wing Length (Millimeters): </label>
          <input type="text" name="Wing_Length_mm_pre_Skin" id="Wing_Length_mm_pre_Skin" value="" />
          </li>
          <br>

          <li><label for="Tail_Length_mm_pre_Skin">Tail Length (Millimeters): </label>
          <input type="text" name="Tail_Length_mm_pre_Skin" id="Tail_Length_mm_pre_Skin" value="" />
          </li>
          <br>

          <li><label for="Tarsus_Length_mm_pre_Skin">Tarsus Length (Millimeters): </label>
          <input type="text" name="Tarsus_Length_mm_pre_Skin" id="Tarsus_Length_mm_pre_Skin" value="" />
          </li>
          <br>

          <li><label for="Notes_pre_Skin">Notes: </label>
          <input type="text" name="Notes_pre_Skin" id="Notes_pre_Skin" value="" />
          </li>
          <br>
        
        &nbsp;
        <div id="button">Review Data</a></div>
      </ul>
    </p>
  </form>
{% endblock %}
