{% load staticfiles %}

<html>
	<head>
	<div>
		<title>Starling Base</title>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">

		<link rel="stylesheet" href="{% static 'css/starling_style.css' %}">


	</head>
	<body>
    <div class="page-header">
    	<h1><a href="{% url 'home' %}">Starling Base</a></h1>
			
			<div class="navibar">
				<ul>
					{% if user.is_authenticated %}
						<li><a href="">Add/Update</a></li>
					{% endif %}
					<li><a href="{% url 'search' %}">Browse</a></li>
					{% if user.is_authenticated %}
						<li><a href="">Delete</a></li>
					{% endif %}
					<li><a href="{% url 'profile' %}">Sign Up/Log in</a></li>
				</ul>
			</div>
		</div>
		<br><br><br><br><br><br>
    <div class="content container">
      <div class="row">
        <div class="col-md-8">
          {% block content %}
          {% endblock %}
        </div>
      </div>
    </div>
	</body>
</html>
