{% extends 'base.html' %}


{% block content %}

	<h2>About</h2>

	<p>Welcome. This website allows you to explore the work of Dr. Julia Zichello on the invasive bird species European Starlings (Sturnus vulgaris). Dr. Zichello and countless other scientists got starlings from various airport from around the country to prep and study. Dr. Zichello's goal is to find out how the starlings were able to adapt to the different climates of the U.S. and what changes occurred. The BridgeUp interns created a database for Dr. Zichello's data, and created the very website you're on in order to connect to other scientists studying starlings and population genetics around the world.</p>

	<div class="right">
		<img class="right" src= "http://www.birdminds.com/Starling.jpg" />
	</div>
{% endblock %}