{% extends 'base.html' %}

{% block content %}
  <h1>Profile Page</h1>

  <p>Fill out the form to set up your profile.</p>

  <form>
    <p>
      <ul>
        <li>Username: <input type="text" name="username" size="30"
        maxlength="25"></li>
        <br>
        <li>Select a profile picture: <input type="file" name="fileupload" value="fileupload" id="fileupload">
        <br>
        <br>
        <li>First Name: <input type="text" name="firstname" size="30"
            maxlength="25"></li>
        <br>
        <li>Last Name: <input type="text" name="lastname" size="30"
            maxlength="25"></li>
        <br>
        <li>Change Password: <input type="password" name="psswd" size="30" 
           maxlength="25"></li>
        <br>
        <li>Verify Password: <input type="password" name="psswd" size="30"
            maxlength="25"></li>
        <br>
        <input type="submit" name="submit" value="Update Profile" /> &nbsp;
      </ul>
    </p>
  </form>
{% endblock %}
