{% extends 'base.html' %}

{% block content %}
  <h1>Search For Starlings</h1>

  <p>Enter Location, Starling ID and press Search For Starling, or Add a New Starling:</p>

  <form>
    <p>
      <ul>
      <li><label for="location">Location: </label> 
          <select name="location" id="location">
            {% for each_location in location_list.all %}
              <option value="each_location" selected>each_location</option>
            {% empty %}
              <option value="FL" selected>FL</option>
              <option value="NY" selected>NY</option>
              <option value="CA">CA</option>
              <option value="">No location</option>
            {% endfor %}
          </select>
          </li>
          <br>
          <li><label for="starling_id">Starling ID: </label>
          <input type="text" name="starling_id" id="starling_id" value="" /></li>
          <br>
          <li><label for="Preparator">Preparator: </label>
          <input type="text" name="preparator" id="preparator" value="" /></li>
          <br>
          <li><label for="collection_date">Collection Date: </label>
          <input type="text" name="collection_date" id="collection_date" value="" /></li>
          <br>
        &nbsp;
        <input type="submit" name="submit" value="Search For Starling" /> &nbsp; <input type="submit" name="submit" value="Add A New Starling" />
      </ul>
    </p>
  </form>
{% endblock %}
