{% extends 'base.html' %}

{% block content %}
  <h2>Search For Starlings</h2>

  <p>Enter Location, Starling ID and press Search For Starling, or Add a New Starling:</p>
	<p> {{ error_message }}</p>	
  <br><br><br>
  <form method="POST">{% csrf_token %}
    <ul>
      <li><label for="location">Location: </label> 
        <select name="location" id="location">
          {% for each_location in locations_list %}
          	{% if each_location.state == location.state %}
           		<option value="{{ each_location.state }}" selected>{{ each_location.state }}</option>
           	{% else %}
           		<option value="{{ each_location.state }}">{{ each_location.state }}</option>
           	{% endif %}
          {% empty %}
          	<option value="">No locations!</option>
          {% endfor %}
        </select>
      </li>
      <br>
      <li>
        <label for="starling_id">Starling ID: </label>
        <input type="text" name="starling_id" id="starling_id" value="" /></li>
      <br>
      <li><label for="Preparator">Preparator: </label>
      <input type="text" name="preparator" id="preparator" value="" /></li>
      <br>
      <li><label for="collection_date">Collection Date: </label>
      <input type="text" name="collection_date" id="collection_date" value="" /></li>
      <br>
      &nbsp;
      <input type="submit" name="submit" value="Search For Starling" /> &nbsp; <input type="submit" name="submit" value="Add A New Starling" />
    </ul>
  </form>
{% endblock content %}
